<h3 class="text-secondary"><i class="fa fa-database fa-lg mr-2"></i>{{volume?.name}}</h3>
<hr/>
<div class="row">
  <div class="col-md-6">
      <h4 class="text-info">Durability: {{volume?.durability?.type}}</h4>
      <table class="table table-hover">
        <tr>
          <td><strong>Disperse</strong></td>
          <td>{{volume?.durability?.disperse?.redundancy}}</td>
        </tr>
        <tr>
            <td><strong>Replicate</strong></td>
            <td>{{volume?.durability?.replicate?.replica}}</td>
          </tr>
      </table>
  </div>
  <div class="col-md-6">
      <h4 class="text-info">Mount</h4>
      <table class="table table-hover">
        <tr>
          <td><strong>Glusterfs device</strong></td>
          <td>{{volume?.mount?.glusterfs?.device}}</td>
        </tr>
        <tr>
            <td><strong>Hosts</strong></td>
            <td>
              <ul class="list-unstyled">
                <li *ngFor="let host of volume?.mount?.glusterfs?.hosts">
                  {{host}}
                </li>
              </ul>
            </td>
          </tr>
      </table>
  </div>
</div>
<hr/>
<h4 class="text-info">Bricks</h4>
<div class="row">
  <div class="col-md-4 pb-3" *ngFor="let brick of volume?.bricks">
      <div class="card">
        <div class="card-header">
            {{brick.path}}
        </div>
        <div class="card-block p-2">
            <strong>{{brick.size | kbToGb}}</strong> 
        </div>
      </div>
  </div>
</div>