.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  mat-toolbar .brand{
    font-size: 150%;
}

button.fab-add {
    position: fixed;
    bottom: 30px;
    right: 20px;
}