<div class="row pt-3">
  <div class="col-md-6">
    <mat-card  class="">
      <mat-card-title>Nodes</mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let node of cluster?.nodes">
            <mat-icon mat-list-icon>desktop_mac</mat-icon>
            <h4 mat-line><a [routerLink]="['node',node.id]">{{node.hostnames.manage}}</a></h4>
            <p mat-line> {{node.hostnames.storage}} - Zone {{node?.zone}}</p>
          </mat-list-item>
         </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card  class="">
      <mat-card-title>Volumes</mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let volume of cluster?.volumes">
            <mat-icon mat-list-icon>storage</mat-icon>
            <h4 mat-line><a [routerLink]="['volume',volume.id]">{{volume.name}}</a></h4>
            <p mat-line> {{volume.size}} GB - {{volume.bricks?.length}} Brick</p>
          </mat-list-item>
         </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>

