<div class="row pt-3">
  <div class="col-md-6">
    <mat-card  class="">
      <mat-card-title><i class="fa fa-server fa-lg mr-3"></i>Nodes</mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let node of cluster?.nodes"> <button mat-button [routerLink]="['node',node]">{{node}}</button> </mat-list-item>
         </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card  class="">
      <mat-card-title><i class="fa fa-database fa-lg mr-3"></i>Volumes</mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let volume of cluster?.volumes"> <button mat-button [routerLink]="['volume',volume]">{{volume}}</button> </mat-list-item>
         </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>

