/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";


button:focus{
    outline: none !important;
}

.fab-menu a.fab-toggle,
.fab-menu a.fab-toggle:hover{
    background-color: rebeccapurple !important;
    color: white !important;
}